@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 85px;
}

body .header {
    width: 100%;
    height: 70px;
    background-color: #f2f2f2;
    position: fixed;
    z-index: 1;
}

body .header .header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 10px;
}

body .header .header1 .header2 {
    cursor: pointer;
}

body .header .header1 .header3 {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: -145px;
    margin-top: -6px;
    gap: 8px;
}

body .header .header1 .header3 .div11 {
    cursor: pointer;
    background-image: url(../imgs/image\ copy\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
}

body .header .header1 .header3 .div12,
body .header .header1 .header3 .div13,
body .header .header1 .header3 .div14,
body .header .header1 .header3 .div15 {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

body .header .header1 .header3 .div12 {
    background-image: url(../imgs/image\ copy\ 8.png);
}

body .header .header1 .header3 .div13 {
    background-image: url(../imgs/image\ copy\ 7.png);
}

body .header .header1 .header3 .div14 {
    background-image: url(../imgs/image\ copy\ 6.png);
}

body .header .header1 .header3 .div15 {
    background-image: url(../imgs/image\ copy\ 5.png);
}

body .header .header1 .header3 .flex1 {
    width: 40px;
    height: 40px;
    background-color: #c9e4f9;
    display: inline-block;
    padding: 4px;
}

body .header .header1 .header3 .flex {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 4px;
}

body .header .header1 .header3 .flex:hover {
    background-color: #e2f0fc;
}

body .header .header4 img {
    cursor: pointer;
    float: right;
    margin-bottom: 20px;
    margin-right: 5px;
}

body .header .header4 img:hover {
    background-color: #e2f0fc;
}

.navbar {
    width: 100%;
    height: 82px;
    
}

.pages li {
    font-family: "Open Sans", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
}

.navbar-img img {
    cursor: pointer;
    width: 61px;
    height: 36px;
}

.navbar-text ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.navbar-text ul li {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

.navbar-text ul li:hover {
    color: #7190f0;
}

.birat-section {
    width: 100%;
    min-height: 950px;

    background: linear-gradient(
        to bottom,
        #ffffff 0,
        #ffffff 600px,
        #F0F3FE 600px,
        #F0F3FE 100%
    );

    padding: 40px 0 70px;
}


.birat-section .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* =========================
   ASOSIY QISM
========================= */

.brat {
    width: 100%;
    min-height: 650px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 100px;
}


/* =========================
   CHAP TOMON
========================= */

.brat-text {
    width: 52%;
    padding-top: 10px;
}


.matt {
    margin: 0;

    font-family: "Open Sans", Georgia, serif;

    font-size: 96px;
    font-weight: 400;
    line-height: 1;

    color: #000000;
}


.title {
    margin: 18px 0 0;

    font-family: "Bodoni Moda", Georgia, serif;

    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;

    color: #7190f0;
}


/* =========================
   BUTTON
========================= */

.hire {
    width: 270px;
    height: 82px;

    margin-top: 45px;

    border: none;
    border-radius: 50px;

    background-color: #7190f0;
    color: #ffffff;

    font-family: "Open Sans", sans-serif;

    font-size: 18px;
    font-weight: 700;

    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 18px;

    cursor: pointer;
}


.hire img {
    width: 35px;
    height: auto;
    object-fit: contain;
}


.hire:hover {
    background-color: #5e80eb;
}


/* =========================
   SOCIAL ICON
========================= */

.ilova {
    margin-top: 42px;

    display: flex;
    align-items: center;

    gap: 22px;

    color: #8ca6f5;
}


.ilova svg {
    width: 38px;
    height: 38px;

    cursor: pointer;
}


/* =========================
   FREEPIK
========================= */

.Image {
    margin-top: 42px;

    font-family: "Open Sans", sans-serif;

    font-size: 16px;
    font-weight: 400;

    color: #111111;
}


.Freepik {
    color: #111111;

    text-decoration: underline;

    cursor: pointer;
}


/* =========================
   O'NG TOMONDAGI RASM
========================= */

.brat-img {
    width: 48%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.brat-img > img {
    width: 355px;
    height: 509px;
    display: block;
    object-fit: cover;
    border-radius: 100px;
}


/* =========================
   12+ EXPERIENCE
========================= */

.experience {
    position: absolute;
    width: 205px;
    height: 250px;
    left: 50px;
    bottom: -55px;
    background-color: #7190f0;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.12);
}


.experience h2 {
    margin: 0;
    font-family: "Open Sans",  serif;
    font-size: 58px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
}


.experience p {
    margin-top: 25px;

    font-family: "Open Sans", sans-serif;

    font-size: 17px;
    font-weight: 500;
    line-height: 1.1;

    color: #ffffff;
}

a{
    text-decoration: none;
}


/* =========================
   PASTDAGI STATISTIKA
========================= */

.statistics {
    width: 100%;

    margin-top: 100px;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    align-items: start;

    gap: 35px;
}


.stat-item {
    width: 100%;
}


.stat-item h2 {
    margin: 0;

    font-family: "Open Sans", Georgia, serif;

    font-size: 65px;
    font-weight: 500;
    line-height: 1;

    color: #7190f0;
}


.stat-item p {
    margin-top: 28px;

    font-family: "Open Sans", Arial, sans-serif;

    font-size: 17px;
    font-weight: 400;
    line-height: 1.3;

    color: #111111;
}


