@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alata", sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 85px
}

body .header {
    width: 100%;
    height: 70px;
    background-color: #f2f2f2;
    position: fixed;
    z-index: 1;
}

body .header .header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 10px;
}

body .header .header1 .header2 {
    cursor: pointer;
}

body .header .header1 .header3 {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: -145px;
    margin-top: -6px;
    gap: 8px;
}

body .header .header1 .header3 .div11 {
    cursor: pointer;
    background-image: url(../imgs/image\ copy\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
}

body .header .header1 .header3 .div12,
body .header .header1 .header3 .div13,
body .header .header1 .header3 .div14,
body .header .header1 .header3 .div15 {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

body .header .header1 .header3 .div12 {
    background-image: url(../imgs/image\ copy\ 8.png);
}

body .header .header1 .header3 .div13 {
    background-image: url(../imgs/image\ copy\ 7.png);
}

body .header .header1 .header3 .div14 {
    background-image: url(../imgs/image\ copy\ 6.png);
}

body .header .header1 .header3 .div15 {
    background-image: url(../imgs/image\ copy\ 5.png);
}

body .header .header1 .header3 .flex1 {
    width: 40px;
    height: 40px;
    background-color: #c9e4f9;
    display: inline-block;
    padding: 4px;
}

body .header .header1 .header3 .flex {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 4px;
}

body .header .header1 .header3 .flex:hover {
    background-color: #e2f0fc;
}

body .header .header4 img {
    cursor: pointer;
    float: right;
    margin-bottom: 20px;
    margin-right: 5px;
}

body .header .header4 img:hover {
    background-color: #e2f0fc;
}

.navbar {
    width: 100%;
    height: 82px;
    
}

.pages li {
    font-family: "Open Sans", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
}

.navbar-img img {
    cursor: pointer;
    width: 61px;
    height: 36px;
}

.navbar-text ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.navbar-text ul li {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

.navbar-text ul li:hover {
    color: #7190f0;
}

.my-blog{
    width: 100%;
    height: 203px;
    background-color: #F0F3FE;
    margin-top: 70px;
}

.color {
    color: #7190f0;
}

.my-blog-h1{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    font-family: "Bodoni Moda", serif;
    margin-top: -20px;
}

.my-blog-text {
    width: 100%;
    min-height: 1166px;
    padding: 95px 0 80px;
    background-color: #fff;
}

.my-blog-text .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.my-text {
    width: 100%;
}

.text1,
.text2,
.text3 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 55px;
    margin-bottom: 80px;
}

.text3 {
    margin-bottom: 0;
}

.text1-text {
    width: 47%;
    padding-top: 20px;
}

.working {
    margin: 0 0 20px;
    font-family: "Bodoni Moda", serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: #111;
    text-transform: uppercase;
}

.blocks {
    margin: 0;
    max-width: 590px;
    font-family: "Open Sans",  sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #111;
}

.sana {
    margin: 27px 0 0;
    font-family: "Open Sans",  sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #999;
}

.read {
    margin-top: 34px;
    padding: 0 0 3px;
    border: none;
    border-bottom: 1px solid #6c89ff;
    background: transparent;
    font-family: "Open Sans" sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #6c89ff;
    cursor: pointer;
}

.read:hover{
    border-bottom: none
}

.text1-img img {
   width: 577px;
   height: 284px;
    display: block;
    object-fit: cover;
}


.footer {
    width: 100%;
    height: 341px;
    background-color: #f0f3ff;
}


.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* CHAP TARAF */

.ftext1 {
    width: 500px;
}

.something-h1 {
    color: #7292f5;
    font-family: "Bodoni Moda", serif;
    font-size: 48px;
    line-height: 1.05;
    font-weight: 400;
    margin: 0;
}

/* IJTIMOIY TARMOQLAR */

.ilova2 {
    display: flex;
    align-items: center;
    gap: 1zpx;
    margin-top: 42px;
    padding-left: 5px;
}

.ilova2 a {
    color: #7292f5;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ilova2 svg {
    width: 25px;
    height: 25px;
    fill: currentColor;
}

/* O'NG TARAF */

.ftext2 {
    width: 350px;
    text-align: center;
}

.contact-title {
    color: #7292f5;
    font-family: "Bodoni Moda", serif;
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 30px;
}

.footer-p {
    color: #7292f5;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

/* TAGIDAGI QORA QISM */

.footer-bottom {
    width: 100%;
    height: 45px;
    background-color: #333333;
    margin-top: 45px;
}


