@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alata", sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 85px;
}

body .header {
    width: 100%;
    height: 70px;
    background-color: #f2f2f2;
    position: fixed;
    z-index: 1;
}

body .header .header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 10px;
}

body .header .header1 .header2 {
    cursor: pointer;
}

body .header .header1 .header3 {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: -145px;
    margin-top: -6px;
    gap: 8px;
}

body .header .header1 .header3 .div11 {
    cursor: pointer;
    background-image: url(../imgs/image\ copy\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
}

body .header .header1 .header3 .div12,
body .header .header1 .header3 .div13,
body .header .header1 .header3 .div14,
body .header .header1 .header3 .div15 {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

body .header .header1 .header3 .div12 {
    background-image: url(../imgs/image\ copy\ 8.png);
}

body .header .header1 .header3 .div13 {
    background-image: url(../imgs/image\ copy\ 7.png);
}

body .header .header1 .header3 .div14 {
    background-image: url(../imgs/image\ copy\ 6.png);
}

body .header .header1 .header3 .div15 {
    background-image: url(../imgs/image\ copy\ 5.png);
}

body .header .header1 .header3 .flex1 {
    width: 40px;
    height: 40px;
    background-color: #c9e4f9;
    display: inline-block;
    padding: 4px;
}

body .header .header1 .header3 .flex {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 4px;
}

body .header .header1 .header3 .flex:hover {
    background-color: #e2f0fc;
}

body .header .header4 img {
    cursor: pointer;
    float: right;
    margin-bottom: 20px;
    margin-right: 5px;
}

body .header .header4 img:hover {
    background-color: #e2f0fc;
}

.navbar {
    width: 100%;
    height: 82px;
    
}

.pages li {
    font-family: "Open Sans", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
}

.navbar-img img {
    cursor: pointer;
    width: 61px;
    height: 36px;
}

.navbar-text ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.navbar-text ul li {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

.navbar-text ul li:hover {
    color: #7190f0;
}

.birat-section {
    width: 100%;
    min-height: 760px;
    background: linear-gradient(to bottom, #ffffff 0, #ffffff 600px, #F0F3FE 600px, #F0F3FE 752px);
}

.brat {
    display: flex;
    align-items: center;
    gap: 9rem;
    min-height: 680px;
}

.brat-img img {
    width: 483px;
    height: 583px;
    border-radius: 100px;
}

.matt {
    font-family: "Bodoni Moda", serif;
    font-size: 96px;
    font-weight: 400;
    line-height: 1;
    color: #000000;
}

.title {
    font-family: "Bodoni Moda", serif;
    font-size: 33px;
    font-weight: 800;
    color: #7190f0;
    margin-top: 15px;
}

.hire {
    margin-top: 50px;
    width: 270px;
    height: 82px;
    border: none;
    border-radius: 50px;
    background-color: #7190f0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.hire img {
    width: 35px;
}

.hire:hover {
    background-color: #5678e88f;
}

.ilova {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 45px;
    color: #8ca6f5;
}

.ilova svg {
    cursor: pointer;
}

.Image {
    margin-top: 45px;
    font-size: 16px;
}

.Freepik {
    text-decoration: underline;
    cursor: pointer;
}

.skills-section {
    width: 100%;
    min-height: 540px;
    padding: 50px 20px;
    background: #F0F3FE;
}

.workskils {
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: "Bodoni Moda", serif;
}

.pagess {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.ramka {
    width: 285px;
    height: 270px;
    background-color: #6d8eea;
    border-radius: 38px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.ramka img {
    width: 44px;
    object-fit: contain;
    margin-bottom: 25px;
}

.figma {
    font-size: 24px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.select {
    font-size: 18px;
    line-height: 1.8;
    max-width: 280px;
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
}

.ramka:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.18);
}

.pages-section {
    width: 100%;
    min-height: 1239px;
    background-color: #ffffff;
    padding: 80px 0 100px;
}

.pages-h1{
    text-align: center;
    padding: 0 0 70px;
    font-size: 48px;
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
}

.pages-section .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    row-gap: 45px;
}


/* HAMMA CARD */

.work-card {
    width: 100%;
    height: 490px;

    background-color: #6f8fec;

    border-radius: 48px;
    overflow: hidden;
}


/* RASM */

.work-card img {
    width: 100%;
    height: 365px;

    display: block;
    object-fit: cover;
}


/* MOBILE APP / WEB DESIGN */

.mobille {
    margin: 0;
    padding: 27px 20px 0;

    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;

    color: #ffffff;

    text-transform: uppercase;
}


/* HAPPY DAY APP */

.hobbe {
    margin: 20px 0 0;
    padding: 0 20px;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1;

    color: #ffffff;
}


/* TABLET */

@media (max-width: 950px) {

    .pages-section .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .work-card {
        height: 470px;
    }

    .work-card img {
        height: 345px;
    }
}


/* TELEFON */

@media (max-width: 650px) {

    .pages-section {
        padding: 60px 0;
    }

    .pages-section .container {
        grid-template-columns: 1fr;
        padding: 0 20px;
        gap: 35px;
    }

    .work-card {
        max-width: 430px;
        height: auto;
        min-height: 460px;
        margin: 0 auto;

        padding-bottom: 30px;
    }

    .work-card img {
        height: 340px;
    }

    .mobille {
        font-size: 16px;
    }

    .hobbe {
        font-size: 24px;
    }
}
